#at-modal .modal-backdrop {
    background-color: transparent;
}

#sbar .navbar-collapse {  
	font-size: 20pt;
}
@media (min-width:768px) {
  #sbar .navbar-collapse { 
  	font-size: 12pt; 
  }
}

#sbar .navbar-collapse {  
	width: 100px;
	height: 100vh;
}
@media (min-width:768px) {
  #sbar .navbar-collapse { 
  	width: auto;
	height: auto; 
  }
}

#sbar.navbar {  
	width: 100px;
	height: 100vh;
}
@media (min-width:768px) {
  #sbar.navbar {
  	width: auto;
	height: auto; 
  }
}


#sbar .navbar-collapse .at-btn-icon {
	width: 30px;
	height: 30px;
}

@media (min-width:768px) {
	#sbar .navbar-collapse .at-btn-icon {
		width: 16px;
		height: 16px;
	}
}

#sbar .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 85vh;
}

body {
	margin-left: 101px;
	margin-top: 0px;
}

@media (min-width: 768px) {
	body {
		margin-top: 50px;
		margin-left: 0px;
	}
}