#at-modal.modal.fade {
   background-color: transparent;
}

#at-collapse-parent.navbar-collapse {  
	width: auto;
	height: auto; 
	padding-left: 10px;
	padding-right: 10px; 
	font-size: 12pt;
}

#at-collapse.nav {
	font-size: 12pt;
}

#at-right-buttons.nav {
	font-size: 12pt;
}

#sbar.navbar {  
	width: auto;
	height: auto;
	padding-left: 10px;
	padding-right: 10px; 
}

#at-collapse-parent.navbar-collapse .at-btn-icon {
	width: 16px;
	height: 16px;
}

#sbar .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 50px;
}

body.atbar-collapsed {
	margin-top: 50px; 
	margin-left: 0px;
	color: initial;
}

body.atbar-expanded {
	margin-top: 50px; 
	margin-left: 0px;
	color: initial;
}



@media (max-width: 768px) {
	#sbarlogo.navbar-brand {
		margin-left: -10px;
	}

	#at-collapse-parent.navbar-collapse { 
		width: 90px;
		height: 100vh;
		font-size: 20pt; 
		padding-left: 5px;
		padding-right: 5px;
		margin-left: -10px;
  	}

  	#at-collapse.nav {
  		font-size: 20pt; 
  	}

  	#at-right-buttons.nav {
  		font-size: 20pt; 
  	}

  	#sbar.navbar {
	  	width: 90px;
		/*height: 100vh;*/
	}

	#at-collapse-parent.navbar-collapse .at-btn-icon {
		width: 30px;
		height: 30px;
	}

	#at-collapse.nav.navbar-nav {
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-bottom-color: rgb(231,231,231);
	}

	body.atbar-expanded {
		margin-left: 101px;
		margin-top: 0px;
		color: initial;
	}

	body.atbar-collapsed {
		margin-top: 101px; 
		margin-left: 0px;
		color: initial;
	}

	#sbar .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	  max-height: 75vh;
	}

}