/*#at-modal .modal-backdrop {
    background-color: transparent;
}*/


#at-collapse-parent.navbar-collapse {  
	width: auto;
	height: auto; 
	padding-left: 10px;
	padding-right: 10px; 
	font-size: 12pt;
}

@media (max-width: 768px) {
	#sbarlogo.navbar-brand {
		margin-left: -10px;
	}
}


@media (max-width:768px) {
  #at-collapse-parent.navbar-collapse { 
	width: 90px;
	height: 100vh;
	font-size: 20pt; 
	padding-left: 5px;
	padding-right: 5px;
	margin-left: -10px;
  }

#sbar.navbar {  
	width: auto;
	height: auto;
	padding-left: 10px;
	padding-right: 10px; 
}
@media (max-width:768px) {
  #sbar.navbar {
  	width: 90px;
	height: 100vh;
  }
}


#at-collapse-parent.navbar-collapse .at-btn-icon {
	width: 16px;
	height: 16px;
}

@media (max-width:768px) {
	#at-collapse-parent.navbar-collapse .at-btn-icon {
		width: 30px;
		height: 30px;
	}
}

#sbar .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 85vh;
}



body {
	margin-top: 10px; 
	margin-left: 0px;
}

@media (max-width: 768px) {
	body {
		margin-left: 101px;
		margin-top: 0px;
	}
}