#everything
*

#but not these files:
!dev/plugins/dist/*
!dev/plugins/repo/*
!production/core/atbar/ar/*
!production/core/atbar/en/*
!production/core/atbar/pt/dev/atbar.js
!production/core/atkit/*
!production/core/plugins/dist/*
!production/core/plugins/repo/*