/*

!/dev
/dev/*
!/dev/plugins
/dev/plugins/*
!dev/plugins/dist
!dev/plugins/repo



!/production
/production/*
!/production/core
!/production/plugins
/production/plugins/*
!/production/plugins/repo
!/production/plugins/app
/production/plugins/app/*
!/production/plugins/app/classes
/production/plugins/app/classes/*
!/production/plugins/app/classes/compiler.class.php
/production/core/*
!/production/core/atbar
!/production/core/resources
/production/core/resources/*
!/production/core/resources/css
/production/core/atbar/*
!/production/core/atbar/en
!/production/core/atbar/ar
!/production/core/atbar/pt
/production/core/atbar/pt/*
!/production/core/atbar/pt/dev
/production/core/atbar/pt/dev/*
!/production/core/atbar/pt/dev/atbar.js
!/production/core/atbar/pt/dev/server-services
/production/core/atbar/pt/dev/server-services/*
!/production/core/atbar/pt/dev/server-services/predict


!/production/core/atkit

!/production/core/resources
/production/core/resources/*
!/production/core/resources/css
!/production/core/resources/jquery


!/production/core/plugins
/production/core/plugins/*
!/production/core/plugins/dist
!/production/core/plugins/repo
